input[type='text'] {
  border: 0px;
}

input[type='text']:focus {
  outline-width: 0px;
}

.selectedEntry {
  background-color: #e0eefa;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.fullHeight {
  min-height: 100vh;
  position: relative;
}
