input[type='text'] {
  border: 0px;
}

input[type='text']:focus {
  outline-width: 0px;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.fullHeight {
  min-height: 100vh;
  position: relative;
}

.verticalScroll {
  height: 87vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.noScroll {
  overflow-y: hidden;
}


