input[type='text'] {
  border: 0px;
}

input[type='text']:focus {
  outline-width: 0px;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.verticalScroll {
  height: 87vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.noScroll {
  overflow-y: hidden;
}

.noSearchResult {
  font-size:30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}

